@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@1,700&display=swap');
:root {
    --primary-color: #2d4a73;
    --secondary-color: #6ac6e2;
    --accent1-color: #8ccb84;
    --accent2-color: #dbcca5;
  
    --heading-font:, 'Montserrat', Verdana, Arial, sans-serif;
    --paragraph-font: 'Raleway', Verdana, Arial, sans-serif;
  
    --nav-background-color: #6ac6e2;
    --nav-link-color: #2d4a73;
    --nav-hover-link-color: #8ccb84;
    --nav-hover-background-color: #dbcca5;
  }

  * {
    box-sizing: border-box;
    font-family: var(--paragraph-font);
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
  }


  /* Week 4 */

  header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 210px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    background-color: var(--primary-color);
  }
  
  .logo img {
    margin: 0 0.25rem 0 1rem;
    width: 210px;
    height: auto;
  }

  nav {
    text-align: center;
  }
  
  .navigation {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .navigation li {
    flex: 1 1 100%;
  }
  
  .navigation a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
  }
  
  .navigation a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: none;
    background-color: #6ac6e2;
  }

  .history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    background-color: #cccccc;
  }

  .history-hdr {
    grid-column-start: 1;
    grid-column-end: 4; 
  }

  .history-item1{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
  }

  .history-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .history-item3{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
  }

  .history_img {
    width: 300px;
  }

  .adventure {
    display: flex;
  }

  .adventure figure img{
    width: 150px;
  }

  figure {
    text-align: center;
  }

  footer {
    background-color: var(--primary-color);
    color:#fff;
  }
  

  /* Week 4 end */

          
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

h1 {
  position:absolute;
  top: 50px;
  left: 25px;
  background-color: #0000009e;
  width: 95%;
  height: 80px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}  

p {
  font-family: var(--paragraph-font);
  color: #000;
}

.sociallinks {
  text-decoration: none;
}

.hero{
  position: relative;
}

.heroimg {
  display: block;
  width: 100%;
  height: auto;
}
article {
  position:absolute;
  top: 180px;
  left:85px;
  background-color: #dbcca59e;
  width: 800px;
}

.article_img {
  width: 300px;
  float: right;
}

.social {
  width: 50px;
}











