@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@1,700&display=swap');
:root {
    --primary-color: #2d4a73;
    --secondary-color: #6ac6e2;
    --accent1-color: #8ccb84;
    --accent2-color: #dbcca5;
  
    --heading-font: 'Raleway', serif;
    --paragraph-font: Arial, sans-serif;
  
    --nav-background-color: #6ac6e2;
    --nav-link-color: #2d4a73;
    --nav-hover-link-color: #8ccb84;
    --nav-hover-background-color: #dbcca5;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    margin: 0 auto;
  }
          
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
p {
    color: #000;
}

.hero {
  position: absolute;
  z-index: -1;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1, article {
  position: absolute;
}

.hero article img {
  float: right;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
  width: 50px;
}