@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@1,700&display=swap');
:root {
    --primary-color: #2d4a73;
    --secondary-color: #6ac6e2;
    --accent1-color: #8ccb84;
    --accent2-color: #dbcca5;
  
    --heading-font:, 'Montserrat', Verdana, Arial, sans-serif;
    --paragraph-font: 'Raleway', Verdana, Arial, sans-serif;
  
    --nav-background-color: #6ac6e2;
    --nav-link-color: #2d4a73;
    --nav-hover-link-color: #8ccb84;
    --nav-hover-background-color: #dbcca5;
  }

  * {
    box-sizing: border-box;
    font-family: var(--paragraph-font);
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
  }

          
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

h1 {
  position:absolute;
  top: 50px;
  left: 25px;
  background-color: #0000009e;
  width: 95%;
  height: 80px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}  

p {
  font-family: var(--paragraph-font);
  color: #000;
}

.sociallinks {
  text-decoration: none;
}

.hero{
  position: relative;
}

.heroimg {
  display: block;
  width: 100%;
  height: auto;
}
article {
  position:absolute;
  top: 180px;
  left:85px;
  background-color: #dbcca59e;
  width: 800px;
}

.article_img {
  width: 300px;
  float: right;
}

.social {
  width: 50px;
}